.Image_ALL_USER{

    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    
}

.image_user_create{
    width: 49%;
    height: 200px;
    padding: 0rem;
    margin: 0rem 0.1rem 0.1rem 0.1rem;
}


.olikaImage{
    width: 32%;
    height: 158px;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    padding: 0rem;
}

.add_Image_open{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0;
    display: flex;
    justify-content: center;
    transition: opacity .4s ease, visibility .4s ease, transform .4s easw-in-out;
    background-color: rgba(0, 0, 0, 0.781);
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 34534543;
    visibility: hidden;
    flex-direction: column;
}
    


.add_Image_open.open
{
    visibility: visible;
    opacity: 1;
    transform: scale(1.1);
    z-index: 66666666666666666666666666;
    
}

.postion_xp{
 position: relative;    
}

.imag_whidth{
    width: 100%;
    height: 400px;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    margin: 0rem;
    padding: 0rem;
    box-shadow: 0rem 0rem 0.1rem rgb(0 0 0 / 27%);
    margin: 0rem auto;
    padding: 0rem;
    display: flex;
    margin-top: 0.5rem;
}

.postion_xp i{

    font-size: 15px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 50%;
    opacity: 0.9;
    line-height: 30px;
    text-align: center;
    box-shadow: 0rem 0rem 0.1rem white;
    transition: all 0.20s;
    overflow: hidden;
    transform-style: preserve-3d;
    cursor: pointer;

}.postion_xp i:hover{
    transform: translate(1px);
}
.fa-chevron-right{
    position: absolute;
    right: 0rem;
    top: 50%;
}

.fa-chevron-left{
    position: absolute;
    left: 0rem;
    top: 50%;
}
.close_xp{
    position: relative;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}



.postionx{
    position: fixed;
    z-index: 34444444;
    top: 5.4rem;
}
.close_photo{
  
    margin: 0rem auto;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 0.9rem;
    
}

.Zoom_ut{
    margin-left: auto;
}

.Zoom_ut i{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(219, 195, 195, 0.171);
    margin-left: 0.4rem;
    font-size: 9px;
    text-align: center;
    line-height: 50px;
}

.add_Link_Profile{
    text-decoration: none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1877f2c7;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    margin-left:  1rem;
    font-weight: bold;
    font-family: monospace;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.30s;
}

.close_photo i{
    color: white;
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    
    cursor: pointer;
   
    transition: all 0.30s;
}

.close_photo i:hover, .add_Link_Profile:hover{

    color: white;
    opacity: 1;
}

.addEvent{
    pointer-events: none;
    opacity: 0.3;
}

.List_remove_Edit_Post{
    position: absolute;
    background-color: white;
    width: 200px;
    right: 0rem;
    top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #eee;
    z-index: 3;
}
.List_remove_Edit_Post li{

   
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    margin: 0.3rem;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: normal;

    border-radius: 0.4rem;
    box-shadow: 0rem 0rem 0.1rem #eee;
    border: none;
    outline: none;
    cursor: pointer;
    

}.List_remove_Edit_Post li i{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    background-color: #eee;
    text-align: center;
    font-size: 13px;
    margin-right: 0.4rem;
    opacity: 1;
}

.textPost_xp{
    text-transform: capitalize;
    font-size: 15px;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0rem;
    word-break: break-word;
    overflow: hidden;
    
}

.Add_photo_user_postion{
    position: relative;
}
.Add_photo_user{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: 1.3rem;
    z-index: 434675;

}

.add_commit_box{

    display: flex;
    margin-top: 0.5rem;
}

.flex_image{
    display: flex;
    flex-direction: column;
}

.image_comment{
    width: 80%;
    margin: 0.3rem auto;
    padding: 0rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
    opacity: 0.9;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: all 0.20s;
}
.image_comment:hover{
    opacity: 1;
    
}


.Icons_Remove_comment
{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    line-height: 21px;
    font-size: 16px;
    color: black;
   
    opacity: 0.7;

}.Icons_Remove_comment:hover{
    background-color: rgba(37, 35, 35, 0.185);
    box-shadow: 0rem 0rem 0.1rem 0.1rem white;
    opacity: 1;
}

.POATION_delete_edit{
    width: 200px;
    list-style: none;
    position: absolute;
    top: 1.2rem;
    background-color: #eee;
    right: 0rem;
    z-index: 4;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    margin: 0rem auto;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.1rem white;
    margin-top: 0.1rem;
    cursor: pointer;
    border-radius: 0.4rem;
}.POATION_delete_edit li{
    width: 98%;
    margin: 0.2rem;
    padding: 0rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 13px;
    border: none;
    box-shadow: 0rem 0rem 0rem 0.1rem white;
    border-radius: 0.4rem;
    outline: none;
}.POATION_delete_edit li i{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eee;
    color: black;
    text-align: center;
    line-height: 30px;
    margin-right: 0.3rem;
}


/* start cart views...*/ 
.cart_comment{
   
    display: flex;
    flex-direction: column;
    margin: 0rem auto;
    padding: 0rem;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 2.20s ease-in-out;
    max-height: 150px;
    margin-bottom: 0.6rem;
    transition: all 0.50s;
    
}.cart_comment.open{

cursor: pointer;
transform-style: preserve-3d;
transition: all 2.20s ease-in-out;
max-height: inherit;
transition: all 0.50s;
}

.view_comments{
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    margin: 1rem auto;
    padding: 0rem;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 2.20s ease-in-out;
    color: black;
    transition: all 0.50s;
   
}.view_comments.open{
    display: none;
    color: black;
    transition: all 0.50s;
}


/* start Like */
.cart_likes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    font-size: 14px;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    border-top: 2px solid #e4e6eb;
    border-bottom: 2px solid #e4e6eb;
    color: #6f757b;
}.cart_likes span{
   
    width: 121px;
    text-align: center;
    padding: 0rem;
    margin: 0rem;
    height: 30px;
    line-height: 30px;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.1rem white;
    transition: all 0.40s;
    transform-style: preserve-3d;
   
}.cart_likes span:hover{
    background: #f3f5f7;
}
.cart_likes i{
    width: 25px;
    font-size: 18px;
    
}
.Like_user{
    color: rgb(32, 120, 244);
}

.comments_users{
    margin-left: auto;
}

.userLike{
    font-size: 10px;
    text-transform: capitalize;
    cursor: pointer;
    cursor: pointer;
}

.curnt_ather_Like{
    margin-left: 1.4rem;
    padding: 0.1rem;
    font-size: 10px;
    text-transform: capitalize;
}



/* Start friend like... */
.top_navBar_Like{

    
    padding: 0rem;
    margin: 0rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e4e6eb;
    padding: 0.5rem;
}

.top_navBar_Like ul{
    list-style: none;
    display: flex;
    align-items: center;
    
    padding: 0rem;
    margin: 0rem;
    cursor: pointer;
}.top_navBar_Like ul li{
    width: 60px;
    
    margin-left: 0.4rem;
    padding: 0rem;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: normal;
    
}.top_navBar_Like ul li i{
    width: 40px;
    text-align: center;
}.Like_user_add_blo{
    font-size: 20px;
    color: rgb(32, 120, 244);
}
.Like_red{
    color: red;
}

.top_navBar_Like span{
    margin-left: auto;
}.top_navBar_Like span i{
color: rgb(219, 210, 210);
font-size: 18px;
cursor: pointer;
transform-style: preserve-3d;
transition: all 0.20s;
opacity: 0.8;
}.top_navBar_Like span i:hover{
    opacity: 1;
}


.Cart_Like_User{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 13px;
    outline: none;
    border: none;
    margin-top: 0.2rem;
    padding: 0rem;

}
.postion_a{
    position: relative;
}
.Cart_Like_User_Image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0rem 0rem 0.1rm gray;
    z-index: 45555;
}
.postion_a i{
    position: absolute;
    right: -0.5rem;
    bottom: 0.2rem;
    font-size: 12px;
    opacity: 0.9;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(32, 120, 244);
    color: white;
    text-align: center;
    line-height: 22px;
}
.text-User_name{
    margin-left: 1rem;
}

.AddFriend{
    margin-left: auto;
    border: none;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 35px;
    background-color: #eee;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    border-radius: 0.4rem;
    margin-right: 0.2rem;
}.AddFriend i{
    width: 30px;
   
}